SYM_KEY_PATH=settings/sym_key.enc
PUB_KEY_PATH=settings/public_key.pem
PRIV_KEY_PATH=settings/private_key.pem

SOURCE_FILE=data/text.txt
ENCRYPTED_FILE=data/text.enc
DECRYPTED_FILE=data/text_decrypted.txt

CAST5_KEY_SIZE=128
